@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
 background-color:black;
 font-family: 'Press Start 2P', cursive;
}
#container {
  position:relative;
	top:10px;
	width:600px;
	height:600px;
	margin-left:auto;
	margin-right:auto;
}

#gameBoard {
	position:absolute;
	top:0px;
	left:0px;
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px;
	grid-template-rows: 120px 120px 120px 120px 120px;
	justify-content: center;
	width:600px;
	height:600px;
	}

#gameBoard div{
	background-repeat:no-repeat;
	background-size:cover;
}

#gameBoardBackground {
  position:absolute;
	top:0px;
	left:0px;
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px;
	grid-template-rows: 120px 120px 120px 120px 120px;
	justify-content: center;
	width:600px;
	height:600px;

}

#gameBoardBackground div{
	background-image:url("images/grass.png");
	background-repeat:no-repeat;
	background-size:cover;
}

#lives{
	text-align:center;
	color:white;
}

.rider {
	background-image:url("images/bike.png");
}

.blocker1 {
	background-image:url("images/blocker1.png");
}

.obstacle2 {
	background-image:url("images/Obstacle2.png");
}

.goal{
	background-image:url("images/goal.png");
}

.blockforward{
  background-image:url("images/blockforward.png");
}

.blockside{
	background-image:url("images/blockside.png");
}

.water{
	background-image:url("images/water.jpg");
}

.riderleft {
	background-image:url("images/boyleft.png");
}
.riderright {
	background-image:url("images/boyright.png");
}
.riderup {
	background-image:url("images/boyup.png");
}
.riderdown {
	background-image:url("images/boydown.png");
}

.rideronleft {
	background-image:url("images/riderleft.png");
}
.rideronright {
	background-image:url("images/riderright.png");
}
.rideronup {
	background-image:url("images/riderup.png");
}
.riderondown {
	background-image:url("images/riderdown.png");
}
.riderjumpleft {
	background-image:url("images/riderjumpleft.png");
}
.riderjumpright {
	background-image:url("images/riderjumpright.png");
}
.riderjumpup {
	background-image:url("images/riderjumpup.png");
}
.riderjumpdown {
	background-image:url("images/riderjumpdown.png");
}

.enemydown {
	background-image:url("images/enemydown.png");
}

.enemyup {
	background-image:url("images/enemyup.png");
}

.enemyright {
	background-image:url("images/enemyright.png");
}

.enemyleft {
	background-image:url("images/enemyleft.png");
}

.bridge {
	background-color:#800020 !important;
}

.message{
  display:none;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.8);
  color:white;
  font-size:7em;
  vertical-align:top;
  text-align:center;
  line-height:100vh;
}

.screen{
  display:block;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,1);
  color:white;
  vertical-align:top;
  text-align:center;
}

.controls{
	display:block;
	position: fixed;
	z-index: 2;
  padding:15px;
  width:160px;
  height:20px;
  background-color:#ffe5b9;
  color:#132743;
  vertical-align:top;
  text-align:center;
  line-height:20px;
  font-size:1em;
  border-radius:7px;
  padding-left:20px;
  padding-right:20px;
  letter-spacing:2px;
} 

.controls:hover{
	background-color: white;
	letter-spacing:5px;
	color: black;
	transition: 0.4s;
}

#start{
	bottom:115px;
	left:55%;
}

#info{
	bottom:115px;
	left:30%;
}

#return{
	left:43%;
	bottom:115px;
}

#retry{
	display:none;
	left:42%;
	bottom:115px;
}

#restart{
	left:42%;
	bottom:115px;
}

#pause{
	display:none;
	left:42%;
	bottom:115px;
}

#resume{
	display:none;
	left:42%;
	bottom:115px;
}

.message1{
	top:75px;
	font-size:75px;
}

.message2{
	top:175px;
	font-size: 45px;
}

#question{
	bottom:220px;
}

#infoScreen{
	display:none;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,1);
  color:white;
  vertical-align:top;
  text-align:center;
}

#endgame {
	display: none;
}