body {
 background-color:black;
 font-family: 'Press Start 2P', cursive;
}
#container {
  position:relative;
	top:10px;
	width:600px;
	height:600px;
	margin-left:auto;
	margin-right:auto;
}

#gameBoard {
	border: thin white solid;
	position:absolute;
	top:0px;
	left:0px;
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px;
	grid-template-rows: 120px 120px 120px 120px 120px;
	justify-content: center;
	width:600px;
	height:600px;
	}

#gameBoard div{
	background-repeat:no-repeat;
	background-size:cover;
}

#gameBoardBackground {
  position:absolute;
	top:0px;
	left:0px;
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px;
	grid-template-rows: 120px 120px 120px 120px 120px;
	justify-content: center;
	width:600px;
	height:600px;

}

#gameBoardBackground div{
	background-repeat:no-repeat;
	background-size:cover;
}

#lives{
	top:5px;
	position: relative;
	text-align:center;
	color:white;
}


#titleimage{
	width:500px;
	height:500px;
	border: thin white solid;
	margin-left:auto;
	margin-right:auto;
}

#endimage{
	width:300px;
	height:300px;
	border: thin white solid;
	margin-left:auto;
	margin-right:auto;
}

#appleimage{
	width:400px;
	height:400px;
	margin-left:auto;
	margin-right:auto;
}

#time{
	display:block;
	color:white;
	font-size: 35px;
}

.rider {
	background-image:url("images/bike.png");
}

.blocker1 {
	background-image:url("images/rock.png");
}

.obstacle2 {
	background-image:url("images/pixeltree.png");
}

.goal{
	background-image:url("images/simon.png");
}

.blockforward{
  background-image:url("images/fenceforward.png");
}

.blockside{
	background-image:url("images/fenceside.png");
}

.water{
	background-image:url("images/water.png");
}

.riderleft {
	background-image:url("images/boyleft.png");
}
.riderright {
	background-image:url("images/boyright.png");
}
.riderup {
	background-image:url("images/boyup.png");
}
.riderdown {
	background-image:url("images/boydown.png");
}

.rideronleft {
	background-image:url("images/riderleft.png");
}
.rideronright {
	background-image:url("images/riderright.png");
}
.rideronup {
	background-image:url("images/riderup.png");
}
.riderondown {
	background-image:url("images/riderdown.png");
}
.riderjumpleft {
	background-image:url("images/riderjumpleft.png");
}
.riderjumpright {
	background-image:url("images/riderjumpright.png");
}
.riderjumpup {
	background-image:url("images/riderjumpup.png");
}
.riderjumpdown {
	background-image:url("images/riderjumpdown.png");
}

.enemydown {
	background-image:url("images/enemydown.png");
}

.enemyup {
	background-image:url("images/enemyup.png");
}

.enemyright {
	background-image:url("images/monster1right.png");
}

.enemyleft {
	background-image:url("images/monster1left.png");
}

.apple{
	background-image:url("images/apple.png");
}

.bridgeup {
	background-image:url("images/bridgehorizon.png");
}

.bridgeright {
	background-image:url("images/bridgerightleft.png");
}

.grass{
	background-image:url("images/grass.png");
}

.message{
  display:none;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.8);
  color:white;
  font-size:7em;
  vertical-align:top;
  text-align:center;
  line-height:100vh;
}

.screen{
  display:block;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,1);
  color:white;
  vertical-align:top;
  text-align:center;
}

.controls{
	transition: 0.4s;
	display:inline-block;
	z-index: 2;
  padding:15px;
  width:160px;
  height:20px;
  background-color:black;
  color:white;
  text-align:center;
  font-size:1em;
  padding-left:20px;
  padding-right:20px;
  letter-spacing:2px;
	position:relative;
	bottom:0px;
	margin-top:0;
	border: thick white solid;
	margin-bottom:0;
} 

.controls:hover{
	background-color: white;
	border: thick black solid;
	letter-spacing:5px;
	color: black;
	transition: 0.4s;
}

#start{
	margin-top:10px;
	margin-right:auto;
}

#info{
	margin-top:10px;
	margin-left:auto;
}

#return{
	position: relative;
	width:50%;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	margin-bottom:0;
	bottom:15px;
}

#retry{
	display:none;
	width:25%;
	margin-left:auto;
	margin-right:auto;

}

#restart{
	width:25%;
	margin-left:auto;
	margin-right:auto;
	top:30px;
}

.message1{
	top:75px;
	font-size:75px;
}

.message2{
	top:175px;
	font-size: 45px;
}

#infoScreen{
	display:none;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,1);
  color:white;
  vertical-align:top;
  text-align:center;
}

#time{
	position: relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	text-align:center;
}

progress {
  height: 22px;
  border: thick white solid;
}
progress::-webkit-progress-bar {
	background-color: black;
}
progress::-webkit-progress-value {
  background-color: white;
}

#endgame {
	display: none;
}

#noBike{
	font-size:300%;
}

#levelup{
	font-size: 300%;
}

#clickrestart{
	margin-bottom:10px;
}